@font-face {
    font-family: 'breakfast';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('https://kalpesh-gohil-18.github.io/SAC-Font/Breakfast.ttf') format('truetype');
}
