@font-face {
    font-family: 'breakfast';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url ('http://b382-2405-201-2014-3076-a8f4-1946-923-8e80.ngrok.io/static/Breakfast.ttf') format('truetype');
}
